<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>原点</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <link href="http://www.origin.com/favicon.ico" rel="shortcut icon">

  <script type="text/javascript" src="static/scripts/common/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="static/scripts/common/jquery.SuperSlide.2.1.js"></script>
  <script type="text/javascript" src="static/scripts/business/login/login.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles/common/common.css"></link>
  <link rel="stylesheet" type="text/css" href="static/styles/common/header.css"></link>
  <link rel="stylesheet" type="text/css" href="static/styles/business/login/login.css"></link>
  <link rel="stylesheet" type="text/css" href="static/styles/common/top_navigation.css"></link>
  <link rel="stylesheet" type="text/css" href="static/styles/common/main_navigation.css"></link>
</head>
<body>
<div id="container" class="w-frame clearfix">
  <div id="content-frame">
    $screen_content
  </div>
</div>
</body>
</html>

