@charset "utf-8";
#success_case_wrap{
	margin: 10px auto;
	width: 1200px;
	overflow: hidden;
}

#success_case_wrap h1{
	margin:20px 0;
	text-align:center;
	color:#006393;
}

.success_case_item{
	position: relative;
	float: left;
	margin-right: 13px;
	width: 157px;
	height: 203px;
	cursor: pointer;
	overflow: hidden;
}

.success_case_item div{
	position: absolute;
	width: 0;
	height: 0;
	background: url(../../../images/import/success_case_gray.png) repeat;
	overflow: hidden;
	_zoom: 1;
}

.success_case_item .cornerCC{
	left:78px;
	top:101px;
}

.success_case_item dl{
	position:absolute;
	top:0;
	left:0;
	width:157px;
	height:203px;
	display:none;
}

.success_case_item dt{
	height:40px;
	width:100%;
	line-height:40px;
	text-align:center;
	color:#FFF;
}

.success_case_item dt h3{
	height:40px;
	text-indent: 2px;
}

.success_case_item dd{
	padding:0 12px;
	width:133px;
	line-height:20px;
	text-indent:2em;
	color:#FFF;
	font-size:12px;
}