.outward {
	width:1200px;
	margin:auto;
	position:relative;
}

/* 面包屑 开始*/
.outward .bread {
  position: relative;
  z-index: -1;
  width: 1200px;
  height: 31px;
  line-height: 50px;
  font-size: 16px;
  font-family: "Microsoft YaHei", simsun;
  color: #ff8500;
  border-bottom: #ff8500 2px solid;
  background: #fff;
  margin: auto;
  zoom: 1;
}

.outward .bread:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: '';
}

.outward .bread a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.outward .bread a:hover {
	cusor: pointer;
} 

.outward .bread a:visited {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.outward .bread .bread-tit {
  float: left;
  padding: 0 20px;
  line-height: 30px;
}

.outward .bread .new {
      border-bottom: #ff8000 1px solid;
}

/* 面包屑 完毕 */

.left {
	float: left;
}

.outward-nav {
	font-family: 'Microsoft YaHei', simsun;
	line-height:30px;
	font-weight:bold;
	height:125px;
	width:200px;
}

/* brandbox */
.brandbox{
	float: right;
	width: 1000px;
	margin: 5px auto;
	overflow: hidden;
}

.brandbox ul li{
	float: left;
}

.brandbox ul li.brand_item{
	width: 200px;
	height: 182px;
}

.brand_item a{
	display: block;
	margin: auto;
	width: 168px;
	height: 169px;
}

.brand_item a:hover{
	text-decoration: none;
}

.brand_item a.brand_name{
	border: #b69d6b 1px solid;
	overflow: hidden;
}

.brand_item a span{
	display: block;
	margin-left: 1px;
	width: 166px;
	padding-top: 6px;
	height: 24px;
	text-align: center;
	overflow: hidden;
}

a.brand_name span{
	color: #7f5400;
	background-color :#e0dbcd;
}

.brand_item a.brand_change{
	border: #daa900 1px solid;
}

a.brand_change span{
	color: #fff;
	background-color: #8d5303;
}